vk1_t1/build/
vk1_t1/*.user

vk1_t2/build/
vk1_t2/*.user

vk1_t3/build/
vk1_t3/*.user

vk1_t4/build/
vk1_t4/*.user

vk1_t5/build/
vk1_t5/*.user

vk1_t6/build/
vk1_t6/*.user

vk1_t7/build/
vk1_t7/*.user